<!-- Custome CSS for add operators page -->
<link rel="stylesheet" href="css/add_operators.css">

<!-- Custome CSS for Employees in operators modal -->
<link rel="stylesheet" href="css/employee.css">

<!-- Custome CSS for Ticket preview -->
<link rel="stylesheet" href="css/ticket_preview.css">



<div id="controls">
    <div id="exit" onclick="back('/add_rates')">
        <i class="fas fa-arrow-left"></i>
    </div>

    <div id="next" onclick="next('/dispatch_preview')">
        <i class="fas fa-arrow-right"></i>
    </div>
</div>

<div id="ticket_preview_container">
    <div id="ticket_preview" style="background-color: white;">
        <h2 id="contractor"></h2>
        <span id="date"></span>
        <div id="load">
        </div>
        <div id="dump">
        </div>
        <div id="details">
            <div>
                <span id="supplier"></span>
            </div>
            <div>
                <span id="reciever"></span>
            </div>
            <div>
                <span id="material"></span>
            </div>
            <div id='notes'>
            </div>
        </div>
        <div id="num-trucks" style="font-size: 15pt">
        </div>
        <div id="toggles">
            <i class="down fas fa-angle-down" onclick="toggleDown()"></i>
            <i class="up fas fa-angle-up" style="display:none" onclick="toggleUp()"></i>
        </div>
    </div>
</div>


<div id="operators">

</div>

<div id="operators_modal">
    <div id="modal_content">
        <span class="close" onclick="closeModal()">&times;</span>
        <span id="spot_index"></span>
        <div id="modal_tabs">
            <div id="employee_tab" onclick="showEmployees()">
                <span>Employees</span>
            </div>
            <div id="operator_tab" onclick="showOwnerOps()">
                <span>Operators</span>
            </div>
        </div>
        <div id="owner_operator">
            <div id="search">
                <input id="operator_search" type="text" placeholder="Search">
            </div>
            <div id="empty_search">
                Search an operator by Company Name
            </div>
            <div id="query_results">

            </div>
        </div>
        <div id="employees">
        </div>
    </div>
</div>


<script src="js/add_operators.js"></script>

<script src="js/ticket_preview.js"></script>