<!-- Custome CSS for Dispatch tickets -->
<link rel="stylesheet" href="css/dispatch.css">

<!-- Custome CSS for add operators page -->
<link rel="stylesheet" href="css/add_operators.css">

<!-- Custome CSS for Employees in operators modal -->
<link rel="stylesheet" href="css/employee.css">


<div id="controls">
    <div id="exit" onclick="saveDispatch('/new_dispatch')">
        <i class="fas fa-arrow-left"></i>
    </div>

    <div id="next" onclick="next('/dispatch_preview')">
        <i class="fas fa-arrow-right"></i>
    </div>
</div>

<!-- All Dispatches will be rendered in here -->
<div class="dispatch" style="background-color: white;">
    <h2 class="cotractor"></h2>
    <span class="load_location"></span>
    <span class="dump_location"></span>
    <span class="date"></span>
    <span class="supplier"></span>
    <span class="reciever"></span>
    <span class="material"></span>

    <div class="num-trucks">
        <i class="fas fa-truck"></i>
        <span class="trucks"></span>
        <span id="plus" onclick="addOperator()"> + </span>
        /
        <span id="minus" onclick="removeOperator()"> - </span>
    </div>

    <div class='notes'></div>
</div>

<div id="operators">

</div>

<div id="operators_modal">
    <div id="modal_content">
        <span class="close" onclick="closeModal()">&times;</span>
        <span id="spot_index"></span>
        <div id="modal_tabs">
            <div id="employee_tab" onclick="showEmployees()">
                <span>Employees</span>
            </div>
            <div id="operator_tab" onclick="showOwnerOps()">
                <span>Operators</span>
            </div>
        </div>
        <div id="owner_operator">
            <div id="search">
                <input id="operator_search" type="text" placeholder="Search">
            </div>
            <div id="empty_search">
                Search an operator by Company Name
            </div>
            <div id="query_results">

            </div>
        </div>
        <div id="employees">
        </div>
    </div>
</div>


<script src="js/add_operators.js"></script>