<link rel="stylesheet" href="css/account.css">

<!-- CSS for contractors -->
<link rel="stylesheet" href="css/employee.css">

<div id="controls">
    <a id="exit" href="/account">
        <i class="fas fa-arrow-left"></i>
    </a>
</div>

<div id="user-info">
    <h1>
        <%= user.company %>
    </h1>
    <span>
        <%= user.name %>
    </span>
</div>

<div id="search_button">
    <input type="text" placeholder="Search...">
    <button onclick="submitContractor()"><i class="fas fa-plus"></i></button>
</div>

<div id="contractors">
    <% for (let contractor in contractors) { %>
    <div class="employee">
        <a href="/contractor?contractor=<%= contractor.replace("&", "%26") %>">
            <h3>
                <%= contractor %>
            </h3>
        </a>
    </div>
    <% } %>
</div>

<script src="js/modal.js"></script>
<script src="js/search_tickets.js"></script>
<script src="js/contractors.js"></script>

<script>
    $(document).ready(() => {
        const search = document.querySelector("#search_button input");
        search.addEventListener("keyup", (e) => {
            const TYPE = "employee";
            searchTickets(e.target.value, TYPE);
        })
    })

</script>