<div id="search">
    <input type="text" placeholder="Search...">
</div>

<div id="details">
    <span id="number">Number</span>
    <span id="number-def">Number Deffinition</span>
</div>

<div id="tickets">
    <div id="a-ticket">
        <h2>Winvan</h2>
        <span class="address">16091 20 ave Surrey</span>
        <div>
            <i class="far fa-paper-plane"></i>
            <span>5</span>
        </div>
        <div>
            <i class="fas fa-check"></i>
            <span>3</span>
        </div>
        <div>
            <i class="fas fa-vote-yea"></i>
            <span>3</span>
        </div>
        <div>
            <i class="fas fa-truck"></i>
            <span>11</span>
        </div>
    </div>
</div>