<!-- Custome CSS for Dispatch tickets -->
<link rel="stylesheet" href="css/dispatch.css">

<!-- CUstome CSS for /dashboard -->
<link rel="stylesheet" href="css/dashboard.css">

<div id="search">
  <input type="text" placeholder="Search...">
</div>

<div id="details">
  <span id="number">Number</span>
  <span id="number-def">Number Deffinition</span>
</div>

<div id="tickets">
  <a href="/dispatch">
    <div class="dispatch confirmed">
      <h2>Winvan</h2>
      <span class="address">16091 20 ave Surrey</span>

      <div class="status">
        <div>
          <i class="far fa-paper-plane"></i>
          <span>2</span>
        </div>
        <div>
          <i class="fas fa-check"></i>
          <span>2</span>
        </div>
        <div>
          <i class="fas fa-vote-yea"></i>
          <span>0</span>
        </div>
      </div>

      <div class="num-trucks">
        <i class="fas fa-truck"></i>
        <span>4</span>
      </div>
    </div>
  </a>
</div>