<!-- Custome CSS for Dispatch tickets -->
<link rel="stylesheet" href="css/dispatch.css">

<!-- Custome CSS for Dispatch tickets -->
<link rel="stylesheet" href="css/job.css">

<div id="back">
  <a href="/tickets"><i class="fas fa-arrow-left"></i></a>
</div>


<div id="search">
  <input type="text" placeholder="Search...">
</div>


<!-- All Dispatches will be rendered in here -->
<div id="dispatch_continer">
  <div class="dispatch" style="background-color: white;">
    <h2>Winvan</h2>
    <span class="address">16091 20 ave Surrey</span>
    <div class="status">
      <div>
        <i class="far fa-paper-plane"></i>
        <span>0</span>
      </div>
      <div>
        <i class="fas fa-check"></i>
        <span>2</span>
      </div>
      <div>
        <i class="fas fa-vote-yea"></i>
        <span>2</span>
      </div>
    </div>
    <div class="num-trucks">
      <i class="fas fa-truck"></i>
      <span>4</span>
    </div>
  </div>
</div>


<!-- All Job Tickets will be rendered in here -->
<div id="tickets_continer">
  <a href="/job">
    <div class="job active">
      <h2>Gurj Signh</h2>
      <span class="truck_num">#600</span>

      <div class="equipment">
        <div id="truck">
          <span>2-axle </span>
        </div>
        <div id="trailer">
          <span>4-axle-transfer</span>
        </div>
      </div>
      <div class="start_time">
        <span>7:00</span>
      </div>
    </div>
  </a>

  <div class="job active">
    <h2>Ravinder Shokar</h2>
    <span class="truck_num">#600</span>

    <div class="equipment">
      <div id="truck">
        <span>2-axle </span>
      </div>
      <div id="trailer">
        <span>4-axle-transfer</span>
      </div>
    </div>
    <div class="start_time">
      <span>7:00</span>
    </div>
  </div>

  <div class="job confirmed">
    <h2>Gurj Signh</h2>
    <span class="truck_num">#600</span>

    <div class="equipment">
      <div id="truck">
        <span>2-axle </span>
      </div>
      <div id="trailer">
        <span>4-axle-transfer</span>
      </div>
    </div>
    <div class="start_time">
      <span>7:15</span>
    </div>
  </div>

  <div class="job confirmed">
    <h2>Gurj Signh</h2>
    <span class="truck_num">#600</span>

    <div class="equipment">
      <div id="truck">
        <span>2-axle </span>
      </div>
      <div id="trailer">
        <span>4-axle-transfer</span>
      </div>
    </div>
    <div class="start_time">
      <span>7:15</span>
    </div>
  </div>


</div>