<!-- Custome CSS for add operators page -->
<link rel="stylesheet" href="css/add_operators.css">

<!-- Custome CSS for Job tickets -->
<link rel="stylesheet" href="css/job.css">

<!-- Custome CSS for Ticket preview -->
<link rel="stylesheet" href="css/ticket_preview.css">

<!-- Custome CSS for tabs -->
<link rel="stylesheet" href="css/tabs.css">

<!-- CSS for contractors tabs -->
<link rel="stylesheet" href="css/contractor_rates.css">


<div id="controls">
    <div id="exit">
        <a href="/add_operators"><i class="fas fa-arrow-left"></i></a>
    </div>

    <div id="next" onclick="submitDispatch()">
        <i class="fas fa-check"></i>
    </div>
</div>

<div id="ticket_preview_container">
    <div id="ticket_preview" style="background-color: white;">
        <h2 id="contractor"></h2>
        <span id="date"></span>
        <div id="load">
        </div>
        <div id="dump">
        </div>
        <div id="details">
            <div>
                <span id="supplier"></span>
            </div>
            <div>
                <span id="reciever"></span>
            </div>
            <div>
                <span id="material"></span>
            </div>
            <div id='notes'>
            </div>
        </div>
        <div id="num-trucks" style="font-size: 15pt">
        </div>
        <div id="toggles">
            <i class="down fas fa-angle-down" onclick="toggleDown()"></i>
            <i class="up fas fa-angle-up" style="display:none" onclick="toggleUp()"></i>
        </div>
    </div>
</div>

<div id="tabs">
    <div id="left_tab" onclick="showOperators()">
        Operators
    </div>
    <div id="right_tab" onclick="showRates()">
        Rates
    </div>
</div>

<div id="rates" style="display: none;">
    <div id="hourly" style="display: none;">
        <div class=" contractor">
            <h3>
                Hourly
            </h3>
        </div>
        <div id="hourly_rates">
            <div class="hourly_rate tandem">
                <span>Tandem</span>
                <span class="rate"></span>
            </div>

            <div class="hourly_rate tandem_2_pup">
                <span>Tandem 2-axle Pony</span>
                <span class="rate"></span>
            </div>

            <div class="hourly_rate tandem_3_pup">
                <span>Tandem 3-axle Pony</span>
                <span class="rate"></span>
            </div>

            <div class="hourly_rate tandem_3_transfer">
                <span>Tandem 3-axle Transfer</span>
                <span class="rate"></span>
            </div>

            <div class="hourly_rate tandem_4_transfer">
                <label>Tandem 4-axle Transfer</label>
                <span class="rate"></span>
            </div>

            <div class="hourly_rate tandem_4_end_dump">
                <label>Tandem 4-axle End Dump</label>
                <span class="rate"></span>
            </div>

            <div class="hourly_rate tri">
                <label>3-axle</label>
                <span class="rate"></span>
            </div>

            <div class="hourly_rate tri_2_pony">
                <label>3-axle 2-axle Pony</label>
                <span class="rate"></span>
            </div>

            <div class="hourly_rate tri_3_pony">
                <label>3-axle 3-axle Pony</label>
                <span class="rate"></span>
            </div>

            <div class="hourly_rate tri_3_transfer">
                <label>3-axle 4-axle Transfer</label>
                <span class="rate"></span>
            </div>

            <div class="hourly_rate tri_4_transfer">
                <label>3-axle 4-axle Transfer</label>
                <span class="rate"></span>
            </div>

            <div class="hourly_rate tri_4_end_dumo">
                <label>3-axle 4-axle End Dump</label>
                <span class="rate"></span>
            </div>
        </div>
    </div>

    <div id="per_load" style="display: none;">
        <div class="contractor">
            <h3>
                Per Load
            </h3>
        </div>
        <div id="per_load_rates">
            <div class="per_load_rate operator_rate">
                <span>Operators (Percentage)</span>
                <span class="rate"></span>
            </div>



        </div>
    </div>

    <div id="tonnage" style="display: none;">
        <div class="contractor">
            <h3>
                Tonnage
            </h3>
        </div>
        <div id="tonnage_rates">
            <div class="tonnage_rate operator_rate">
                <span>Operators (Percentage)</span>
                <span class="rate"></span>
            </div>
        </div>
    </div>
</div>

<div id="operators">

</div>



<script src="js/dispatch_preview.js"></script>

<script src="js/ticket_preview.js"></script>