<!-- Custome CSS from account page borrowed for employees page-->
<link rel="stylesheet" href="css/account.css">

<!-- Custom CSS for employees -->
<link rel="stylesheet" href="css/employee.css">

<div id="back">
    <a href="/account"><i class="fas fa-arrow-left"></i></a>
</div>

<div id="user-info">
    <h1>A.K.S Trucking Ltd</h1>
    <span>Gavin Lalli</span>
</div>

<span>Employees</span>
<div id="search">
    <input type="text" placeholder="Search...">
    <a href="/new_employee"><button><i class="fas fa-plus"></i></button></a>
</div>

<div id="employees">
    <div class="employee">
        <h3>Ravinder Shokar</h3>
        <span>604-935-4876</span>
    </div>

    <div class="employee">
        <h3>Kelly James</h3>
        <span>604-345-3453</span>
    </div>

    <div class="employee">
        <h3>Fred Brown</h3>
        <span>778-233-5555</span>
    </div>


    <div class="employee">
        <h3>Dennis Russel</h3>
        <span>604-543-1234</span>
    </div>

</div>