<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Some other value</title>

  <link href="css/layout.css" rel="stylesheet">


</head>

<body>
  <!-- Header -->
  <header id="head">
    <h1>Dispatch</h1>
  </header>



  <div id="content_section">
    <%- body %>
  </div>

  <nav>
    <a href="/dashboard">
      <div id="dashboard" class="icon">
        <i class="fas fa-home"></i>
        <span>Dashboard</span>
      </div>
    </a>
    <a href="/new_dispatch">
      <div id="new" class="icon">
        <i class="fas fa-plus"></i>
        <span>New</span>
      </div>
    </a>
    <a href="/tickets">
      <div id="tickets" class="icon">
        <i class="fas fa-book"></i>
        <span>Tickets</span>
      </div>
    </a>
    <a href="/account">
      <div id="account" class="icon">
        <i class="fas fa-user-circle"></i>
        <span>Account</span>
      </div>
    </a>
  </nav>

  <!-- Jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Font Awsome -->
  <script src="https://kit.fontawesome.com/26da0e4274.js" crossorigin="anonymous"></script>

  <!-- load Class -->
  <script src="js/load.js"></script>

  <!-- job Class -->
  <script src="js/job.js"></script>

  <!-- dispatch Class -->
  <script src="js/dispatch.js"></script>

  <!-- fuel Class -->
  <script src="js/fuel.js"></script>

  <!-- operators Class -->
  <script src="js/operators.js"></script>

</body>

</html>