<link rel="stylesheet" href="css/login.css">


<main>
  <img src="images/Tare.png">
  <div id="login window">


    <div id="login_middle">

    </div>
    <form action="/login_user" method="POST">
      <legend>Login</legend>
      <div id="inputBoxes">
        <div id="email">
          <label>Email</label>
          <input type='text' name="email" required placeholder="Email">
        </div>
        <div id="password">
          <label>Password</label>
          <input type='password' name="password" required placeholder="Password">
        </div>
      </div>
      <input id="login_submit" type="submit">
    </form>

    <div id="login_bottom">
      <span id="switch">Do you not have an account?
        <br>
        <br>
        <a href="/register">Register For Free Today!</a></span>
    </div>



  </div>

</main>