<!-- Customer CSS for register/login html-->
<link href="css/login-register.css" rel="stylesheet">

<!-- Custome CSS for new dispatch form -->
<link href="css/new_dispatch_form.css" rel="stylesheet">


<div id="exit">
    <a href="/dashboard"><i class="far fa-window-close"></i></a>
</div>

<div id="login">
    <legend>New Dispatch</legend>

    <div id="contractor" class="input">
        <label>Contractor *</label>
        <input type='text' required placeholder="Contractor">
        <p id="contractor-error" class="error"></p>
    </div>

    <div id="date" class="input">
        <label>Date *</label>
        <input type='date' required placeholder="Date">
        <p id="date-error" class="error"></p>
    </div>

    <div id="load_location" class="input">
        <label>Load Location *</label>
        <input type='text' required placeholder="load_location">
        <p id="load-location-error" class="error"></p>
    </div>

    <div id="dump_location" class="input">
        <label>Dump Location *</label>
        <input type='text' required placeholder="Dump Location">
        <p id="dump-location-error" class="error"></p>
    </div>

    <div id="num_trucks" class="input">
        <label>Number Of Trucks</label>
        <input type='number' required placeholder="0"></input>
        <p id="num-trucks-error" class="error"></p>
    </div>

    <div id="notes" class="input">
        <label>Notes</label>
        <textarea type='text' required placeholder="Notes"></textarea>
        <p id="notes-error" class="error"></p>
    </div>

    <div id="non_required_inputs">
        <input type="checkbox" id="reciever_check" value="Reciever" onclick="showReciever()">
        <label>Reciever</label>

        <input type="checkbox" id="supplier_check" value="Supplier" onclick="showSupplier()">
        <label>Supplier</label>

        <input type="checkbox" id="material_check" value="Material" onclick="showMaterial()">
        <label>Material</label>
    </div>

    <div id="reciever" class="input">
        <label>Reciever</label>
        <input type='text' required placeholder="Reciever">
        <p id="reciever-error" class="error"></p>
    </div>

    <div id="supplier" class="input">
        <label>Supplier</label>
        <input type='text' required placeholder="Supplier">
        <p id="supplier-error" class="error"></p>
    </div>

    <div id="material" class="input">
        <label>Material</label>
        <input type='text' required placeholder="Material">
        <p id="material-error" class="error"></p>
    </div>

    <input id="submit" type="submit" onclick="createDispatch()">
    <p id="form-error" class="error"></p>
</div>

<script>
    //Set date minmum 
    var today = new Date().toISOString().split('T')[0];
    document.querySelector("#date input").setAttribute('min', today);

    function showReciever() {
        let checkReciever = document.getElementById("reciever_check");
        let reciever = document.getElementById("reciever");

        if (checkReciever.checked == true) {
            reciever.style.display = 'block';
        } else {
            reciever.style.display = "none"
        }
    }

    function showSupplier() {
        let checkSupplier = document.getElementById("supplier_check");
        let supplier = document.getElementById("supplier");

        if (checkSupplier.checked == true) {
            supplier.style.display = 'block';
        } else {
            supplier.style.display = "none"
        }
    }

    function showMaterial() {
        let checkMaterial = document.getElementById("material_check");
        let material = document.getElementById("material");

        if (checkMaterial.checked == true) {
            material.style.display = 'block';
        } else {
            material.style.display = "none"
        }
    }

</script>


<script src="js/new_dispatch.js"></script>