<!-- Customer CSS for register/login html-->
<link href="css/login-register.css" rel="stylesheet">


<div id="exit">
    <a href="/dashboard"><i class="far fa-window-close"></i></a>
</div>

<div id="login">
    <form>
        <legend>New Dispatch</legend>

        <div id="contractor" class="input">
            <label>Contractor</label>
            <input type='text' required placeholder="Contractor">
        </div>

        <div id="date" class="input">
            <label>Date</label>
            <input type='date' required placeholder="Date">
        </div>

        <div id="load_location" class="input">
            <label>Load Location</label>
            <input type='text' required placeholder="load_location">
        </div>

        <div id="dump_location" class="input">
            <label>Dump Location</label>
            <input type='text' required placeholder="Dump Location ">
        </div>

        <div id="notes" class="input">
            <label>Notes</label>
            <textarea type='text' required placeholder="Notes"></textarea>
        </div>

        <input id="submit" type="submit">
    </form>
</div>