<!-- Custome CSS for new dispatch form -->
<link href="css/new_dispatch_form.css" rel="stylesheet">


<div id="controls">
    <div id="exit" onclick="exit('/dashboard')">
        <i class="fas fa-times"></i>
    </div>

    <div id="next" onclick="next('/add_rates')">
        <i class="fas fa-arrow-right"></i>
    </div>
</div>

<h1 id="title">New Dispatch</h1>

<form>
    <div class="mb-3" id="select_button">
        <label for="contractor" class="form-label">Contractor *</label>
        <select class="form-select" aria-label="Default select example" id="contractor">
            <option selected>Select A Contractor</option>
            <% for (let contractor in contractors) { %>
            <option value="<%=contractor%>">
                <%= contractor %>
            </option>
            <% } %>
        </select>
        <button type="button" class="btn btn-primary"><a href="/contractors"><i class="fas fa-plus"></i></a></button>
        <div id="contractor-error" class="error"></div>
    </div>
    <div class="mb-3">
        <label for="date" class="form-label">Date *</label>
        <input type="date" class="form-control" id="date">
        <div id="date-error" class="error"></div>
    </div>
    <div class="mb-3">
        <label for="load_location" class="form-label">Load Location *</label>
        <input type="text" class="form-control" id="load_location" placeholder="Load Location">
        <div id="load-location-error" class="error"></div>
    </div>
    <div class="mb-3">
        <label for="dump_location" class="form-label">Dump Location *</label>
        <input type="text" class="form-control" id="dump_location" placeholder="Dump Location">
        <div id="dump-location-error" class="error"></div>
    </div>
    <div class="mb-3">
        <label for="num_trucks" class="form-label">Num Trucks</label>
        <input type="number" class="form-control" id="num_trucks" placeholder="0" step="1">
        <div id="num_trucks_error" class="error"></div>
    </div>

    <div class="mb-3" id="reciever">
        <label for="reciever" class="form-label">Reciever</label>
        <input type="text" class="form-control" placeholder="Reciever">
        <div id="reciever-error" class="error"></div>
    </div>

    <div class="mb-3" id="supplier">
        <label for="supplier" class="form-label">Supplier</label>
        <input type="text" class="form-control" placeholder="Supplier">
        <div id="supplier-error" class="error"></div>
    </div>

    <div class="mb-3" id="material">
        <label for="material" class="form-label">Material</label>
        <input type="text" class="form-control" placeholder="Material">
        <div id="material-error" class="error"></div>
    </div>


    <div class="mb-3">
        <label for="notes" class="form-label">Notes</label>
        <textarea type="text" class="form-control" id="notes" placeholder="Notes"></textarea>
        <div id="notes_error" class="error"></div>
    </div>



    <div class="mb-3">
        <div id="form-error" class="error"></div>
    </div>
</form>


<button type="button" class="btn btn-primary" style="width: 100%;" onclick="next('/add_rates')">Next</button>



<script>
    //Set date minmum 
    var yesterday;
    var today = new Date();
    dateMath = today.getFullYear()
        + "-" + (today.getMonth() < 10 ? "0" : "") + (today.getMonth() + 1)
        + "-" + (today.getDate() < 10 ? "0" : "") + today.getDate();

    document.querySelector("#date").setAttribute('min', dateMath);
</script>

<script src="js/reset_errors.js"></script>

<script src="js/date.js"></script>

<script src="js/ticket_controller.js"></script>

<script src="js/new_dispatch.js"></script>

<script src="js/job.js"></script>