<div id="controls">
  <a id="exit" href="/employees">
    <i class="fas fa-arrow-left"></i>
  </a>
</div>

<h1 id="title">New Employee</h1>

<div class="form-group">
  <label>First Name</label>
  <input type="text" class="form-control fName" name="fName" placeholder="First Name">
  <p class="fName-error error"></p>
</div>
<div class="form-group">
  <label>Last Name</label>
  <input type="text" class="form-control lName" name="lNamee" placeholder="Last Name">
  <p class="lName-error error"></p>
</div>
<div class="form-group">
  <label for="exampleInputEmail1">Email address</label>
  <input type="email" class="form-control email" name="email" placeholder="Email">
  <p class="email-error error"></p>
</div>
<div class="form-group">
  <label>Phone</label>
  <input type="phone" class="form-control phone" name="phone" placeholder="Phone">
  <p class="phone-error error"></p>
</div>
<div class="form-group">
  <label>Password</label>
  <input type="password" class="form-control password" name="secretSauce" placeholder="Passoword">
  <small class="form-text text-muted">Password must include one special character, number,
    upper case letter and lower case letters.</small>
  <p class="password-error error"></p>
</div>

<p id="error" class="form-error error"></p>
<button type="button" class="btn btn-primary" onclick="submitEmployee()" style="width: 100%;">Submit</button>


<script src="js/user_controller.js"></script>

<!-- This script is responsible for creating an employee account and returning errors -->
<script src="js/reset_errors.js"></script>

<!-- This script is responsible for creating an employee account and returning errors -->
<script src="js/employee.js"></script>