<!-- Custome CSS styling borowed from account.css-->
<link rel="stylesheet" href="css/account.css">

<!-- Custome CSS for operators -->
<link rel="stylesheet" href="css/operator.css">

<div id="back">
    <a href="/account"><i class="fas fa-arrow-left"></i></a>
</div>

<div id="user-info">
    <h1>A.K.S Trucking Ltd</h1>
    <span>Gavin Lalli</span>
</div>

<span>Owner Operators</span>
<div id="search">
    <input type="text" placeholder="Search...">
</div>

<div id="operator_queries">
    <div class="operator">
        <h3>2 Gun Trucking Ltd</h3>
        <span>604-543-1234</span>
        <div>
            <button><i class="fas fa-plus"></i></button>
        </div>
    </div>
</div>

<div id="operators">
    <div class="operator">
        <h3>JTS Trucking LTD</h3>
        <span>604-935-4876</span>
    </div>

    <div class="operator">
        <h3>MJS Trucking Ltd</h3>
        <span>604-345-3453</span>
    </div>

    <div class="operator">
        <h3>Jas Brar Trucking</h3>
        <span>778-233-5555</span>
    </div>
</div>