<link rel="stylesheet" href="css/register.css">

<div id="register">
  <form action="/register_user" method="POST">

    <img src="images/Tare.png">
    <legend>Register here!</legend>
    <div id="email">
      <label>Email</label>
      <input type='text' name="email" required placeholder="Email">
    </div>
    <div id="fName">
      <label>First Name</label>
      <input type='text' name="fName" required placeholder="First Name">
    </div>
    <div id="lName">
      <label>Last Name</label>
      <input type='text' name="lName" required placeholder="Last Name">
    </div>
    <div id="phone">
      <label>Phone</label>
      <input type='phone' name="phone" required placeholder="">
    </div>
    <div id="company">
      <label>Company</label>
      <input type='text' name="company" required placeholder="Company">
    </div>
    <div id="type">
      <label>Account Type</label>
      <select name="type" required id="type">
        <option value="dispatcher">Dispatcher</option>
        <option value="operator">Operator</option>
      </select>
    </div>
    <div id="password">
      <label>Password</label>
      <input type='password' name="password" required placeholder="Password">
    </div>
    <input id="register_submit" type="submit">
  </form>
  <div id="register_Bottom">
    <span id="switch">Do you have an account?
      <br>
      <br>
      <a href="/login">Login</a></span>
  </div>
</div>



<!-- Font Awsome -->
<script src="https://kit.fontawesome.com/26da0e4274.js" crossorigin="anonymous"></script>

<!-- Jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- JS needed for registering new users -->
<script src="js/register.js"></script>