.employee {
    background-color: #CFCFCF;
    height: 8vh;
    display: grid;
    align-content: center;
    margin-top: .5em;
    margin-bottom: .5em;
}

.employee  h3, .employee span, .employee h5 {
    margin: 0;
    margin-left: 1em
}