.job {
    margin-top: 1em;
    padding: .75em .5em .5em .5em;
    display: grid;
    grid-template-columns: 75% 25%;
    border-radius: 2%;
}


.job h2, .job .truck_num, .job .equipment {
    grid-column: 1 / span 1;
}

.job h2 {
    margin: 0;
}

.job .truck_num, .job .equipment{
    padding-top: .25em;
}

.job .start_time {
    grid-column: 2 / span 1;
    grid-row: 1 / span 3;
}

.start_time {
    font-size: 15pt;
}

.equipment div{
 display: inline-block;
}
