@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto';
    margin: 0
}

/* header {
    width: 100%;
    background-color: #C4C4C4;
    height: 7vh;
    text-align: center;
    position: fixed;
    top: 0
}

header h1 {
    line-height: 7vh;
    margin: 0;
} */

#controls {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  font-size: 20pt;
}

#exit {
  grid-column: 1 / span 1;
}

#next {
  text-align: right;
  grid-column: 2 / span 1;
}

#content_section {
    margin-left: 1em;
    margin-right: 1em;
}


#search input {
    width: 100%;
}

a h2, a h5{
    color: black;
}

a:link, a:visited, a:hover {
  color: black;
}






.error {
    color: red;
}


#flash {
    display: none;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
      text-align: center;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .complete {
    background-color: #FAF6D8;
  }
    
  .active {
    background-color: #E2E8D8;
  }
    
    
  .confirmed {
    background-color: #D8E0E8;
  }
    
    
  .sent {
    background-color: #f0e0c3;
  }

  .empty {
    background-color: rgb(254, 130, 130);
  }
  