.load_ticket {
    margin-top: 1em;
    padding: .5em .5em .5em .5em;
    display: grid;
    grid-template-columns: 60% 40%;
    border-radius: 2%;
}

.summary {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  display: grid;
  align-content: center;
}


.times {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  margin-bottom: .5em;
    font-size: 15pt;
}



.weight {
  display: grid;
  align-content: center;
  text-align: center;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}


#dump_load {
  width: 50%;
  font-size: 15pt;
}

.load_details {
  font-size: 10pt;
  grid-column: 1 / span 1;
  width: 100%;
  display: block;
}


.edit_load {
  grid-column: 2 / span 1;
  display: grid;
  align-content: center;
  text-align: center;
}

#checkboxs {
  text-align: left;
}