#login , #register{
    border: 2px solid black;
    border-radius: 5%;
    width: 100%;
}

#submit {
    margin: 10px;
}

legend {
    font-size: 20pt;
}

#company .employees_form {
    background-color: aqua;
    display: hide;
}

#title { 
        width: 100%;
        text-align: center;
}