#tabs {
    margin-top: 2em;
    margin-bottom: 1em;
    width: 100%;
    background-color: #EFEFEf;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}

#dispatch, #job, #fuel, #operators_tab, #rates_tab {
    line-height: 5vh;
    height: 5vh;
    display: inline-block;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#dispatch {
    grid-column: 1 /span 1;
    background-color: #CFCFCF;
}

#ticket {
    grid-column: 2 / span 1;
}

#fuel {
    grid-column: 3 / span 1;
}

#job_container {
    display: none;
}

#fuel_container {
    display: none;
}